body {
    position: relative;
}

.divergence {
    display: none;
    flex-direction: inherit;
    align-items: flex-start;
    float: left;
    margin: 5px;
    width: 100%;
}

.anomalies {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    float: left;
    margin: 5px;
    width: 100%;
}

.container {
    border: 1px solid;
    box-sizing: border-box;
    padding: 5px;
    margin-bottom: 50px;
    overflow: auto;
    clear: both;
}

.container .titlewrapper {
    clear: both;
}

.titlewrapper h2 {
    float: left;
}

.titlewrapper .tooltip {
    float: left;
}

.common-line {
    background-color: rgb(128,128,128,.5);
}

.failing-line {
    background-color: rgb(255,0,0,.5);
}

.passing-line {
    background-color: rgb(0,255,0,.5);
}

.locals {
    display: inherit;
    float: right;
    align-items: flex-start;
    flex-direction: inherit;
    box-sizing: border-box;
    margin: 0px 100px;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border: 1px solid;
}

.active, .collapsible:hover {
    background-color: #555;
}

.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.passing-vars {
    border: 1px solid green;
    flex-basis: 100%;
    width: 50%;
    padding: 2px;
    margin: 2px;
}

.failing-vars {
    border: 1px solid red;
    flex-basis: 100%;
    width: 50%;
    padding: 2px;
    margin: 2px;
}

#selectDivRun {
    position: inherit;
    display: block;
    height: 100%;
    margin: 10px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    top: -5px;
    left: 105%;
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}